block content
    include /mixins/form.pug
    if message != null
        p.warning #{message}
        
    form(method='post' action='/register' class="form-horizontal")
        +formCsrf(csrfToken)
        h5 Register
        +formInput('Username', 'username', 'text', 'Username')
        +formInput('Password', 'password', 'password', 'Enter Password')
        +formInput('Password Confirm', 'confirm', 'password', 'Confirm Password')
        +formInput('Email', 'email', 'text', 'Email Address')
        +formSubmit('Register')